<p></p>
<a href=""></a>
<form>
	<ul>
		<li><input type="hidden" id="id"></li>
		<li><input type="text" id="nombre"></li>
		<li><input type="email" id="email"></li>
		<li><input type="password" id="clave"></li>
		<li><button type="submit">Crear</button></li>
	</ul>
</form>
<table id="usuarios">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>