<p></p>
<a href=""></a>
<form>
	<ul>
		<li><input type="email" id="email" placeholder="Email"></li>
		<li><input type="password" id="clave" placeholder="Clave"></li>
		<li><button type="submit">Ingresar</button></li>
	</ul>
</form>